# Compiled class file
*.class

# Log file
*.log

# Pid files
*.pid

# BlueJ files
*.ctxt

# Database
*.db

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Coverage directory
.coverage

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# env
.env

# venv
.venv
venv

__pycache__

.DS_Store
.pytest_cache

cloned_repo
